<div class="modal fade" id="deleteFormulary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Formulary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="formularydelete">Reason</label>
                    @Html.Hidden("deleteformularyVersionId")
                    <textarea class="form-control" id="formularydeleteReason" rows="4"></textarea>

                    <label id="lbldeleteerror" style="color:red">
                        Please Enter Reason
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnsavedelete" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>