
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

 

<div style="padding-top: 80px;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-6 div-form">

                <div id="pnlLogin">



                    <h1>Synapse Studio</h1>




                    <div id="divLoggedOut" class="alert alert-danger">
                        <h3>Logged out successfully</h3>

                        Your session has ended, please click on the link below to login again.
                        <a href="~/" class="btn btn-lg btn-primary btn-block">Click here to login again</a>
                        
                    </div>


                </div>




                <div class="col-md-3">
                    &nbsp;
                </div>

            </div>
        </div>
    </div>

</div>