


<div class="form-group">
    <div class="page-header">
        @*<h2>Login Timeout</h2>*@
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="row  alert alert-info">
                <div>
                    <h4>  Sorry, your login has timed out. Please close and re-open your browser window and try to login again.</h4>
                </div>
            </div>
            <br />
            <div class="row"><b>This could have happened beacause of one the following:</b></div>
            <div class="row">
                <ul>
                    <li>
                        The login page has been open for a long time without any successful login attempts.
                    </li>
                    <li>
                        The login url has been bookmarked, or a login url has been used from the browser history.
                        Please always use the login url provided by the IT team or click on the launch icon.
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>