.confirmationDelete {
    padding: 20px;
    text-align: center;
    z-index: 20000;
    border: 1px solid;
    background-color: #fff;
}

    .confirmationDelete input {
        background-color: #233F8C;
        color: white;
        font-weight: bold;
        padding: 3px 5px 3px 5px;
        font-size: 1.0em;
        border: none;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;
        margin-left: 10px;
    }
