@model SynapseStudioWeb.Models.IdentityResourceModel

@{
    ViewData["Title"] = "IdentityResourceManager";
}

<h2>IdentityResourceManager</h2>

<h4>IdentityResourceModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreatIdentityResources">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                * Please enter a name for the new Resource
                <input asp-for="ResourceName" required class="form-control" />
                <span asp-validation-for="ResourceName"   class="text-danger"></span>
            </div>
            <div class="form-group">
                * Please enter a Display Name
                <input asp-for="DisplayName" required class="form-control" />
                <span asp-validation-for="DisplayName"    class="text-danger"></span>
            </div>
            <div class="form-group">
                * Please enter a Description
                <input asp-for="Description" required class="form-control" />
                <span asp-validation-for="Description"   class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Enabled" />* Enabled?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Validate and Create" style="float:right" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>
<br /><br />
<div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5><i class="fa fa-list"></i></h5>
                    </div>
                    <div class="card-body p-2">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Resource Name</th>
                                    <th>Display Name</th>
                                    <th>Description</th>
                                    <th>Is Enabled?</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.resource.Rows)
                                {
                                <tr>
                                    <td>@item["Name"]</td>
                                    <td>@item["DisplayName"]</td>
                                    <td>@item["Description"]</td>
                                    <td>@item["Enabled"]</td>
                                    <td>

                                        <a href=@("toggleResource?id=" + item["Id"]+"&toggle=" + item["Enabled"])  onclick="return confirm('Are you sure?')" style="color:#2a9fd6">Toogle Status</a>
                                    </td>
                                </tr>

                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

