<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Projects\Interneuron\POCs\Apps\interneuron-synapse\SynapseStudioWeb\bin\Debug\netcoreapp3.1\SynapseStudioWeb.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess" requestTimeout="24:00:00">
        <!--<environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>-->
      </aspNetCore>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="209715200"  maxQueryString="209715200" />
          <!--200MB-->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>