@model SynapseStudioWeb.Models.EntityModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4><i class="fa fa-bar-chart-o"></i>Entity Manager</h4>
            </div>
            <div class="card-body">
                <div class="row p-2">
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.EntityId, ViewBag.SynapseNamespaceList as SelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <a id="btn-add-entity" href="#" class="btn btn-sm btn-primary"></a>
                    </div>
                </div>
                <span id="entitylist"></span>
            </div>
        </div>
    </div>
</div>
<script src="~/js/entitymanager.js"></script>
 